html
  head
    title=title
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/basic.css' rel='stylesheet')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js')

    script.
      $(window).load(function () {
        // Animate loader off screen
        setTimeout(function () {
        $(".se-pre-con").fadeOut("slow");
        }, 1000);
      });
  body
    div.se-pre-con
    div.container

      div.page-header
        h1 My Profile

      if errors
        each error in errors
          div.alert.alert-danger
            span #{error.error}
      if saved
        div.alert.alert-success
          span Your profile has been saved
      form.login-form.form-horizontal(method='post', role='form')
        input(name='_csrf', type='hidden', value=csrfToken)

        div.form-group
          label.col-sm-4 Name
          div.col-sm-8
            input.form-control(
            placeholder='Your Given Name',
            required=true,
            name='givenName',
            type='text',
            value=givenName)

        div.form-group
          label.col-sm-4 Last Name
          div.col-sm-8
            input.form-control(
            placeholder='Surname',
              required=true,
              name='surname',
              type='text',
              value=surname)

        div.form-group
          label.col-sm-4 Password
          div.col-sm-8
            input.form-control(
            placeholder='Password',
              name='password',
              type='password',
              value=password)


        div.form-group
          div.col-sm-offset-4.col-sm-8
            button.login.btn.btn-primary(type='submit') Save
        div.pull-right
          a(href="/account") Return to Account page